<div class="panel panel-default">
  <div class="panel-heading" #header>{{ element.name }}</div>
  <div class="panel-body">
    <p>
      <ng-content></ng-content>
      <!-- <strong *ngIf="element.type === 'server'" style="color: red">{{
        element.content
      }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em> -->
    </p>
  </div>
</div>

<!-- <ng-content></ng-content> : anything that passed into the custom component through the opening and the closing tag of a custom component, will be put here -->
